---
layout: default
title: Arkiv
permalink: /arkiv/
---

<div class="px-10 mx-auto container">
	<div class="">
      {% for post in site.posts %}
      {% capture currentyear %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% if currentyear != year %}
      {% unless forloop.first %}
    {% endunless %}
    <div class="row-span-full">

    <h2 class="text-2xl mt-16 mb-4">{{ currentyear }}</h2>
    </div>

      {% capture year %}{{ currentyear }}{% endcapture %}
        <ul>
      {% endif %}
        <li class="text-xl mb-4">
          <a class="block hover:text-green-600" href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
        </ul>
    </div>
</div>
