---
layout: default
---	

<div class="container">
	{% for post in paginator.posts %}
	{% capture modulo %}{{ forloop.index | modulo: 3 }}{% endcapture %}
	{% if modulo == '1' %}
	<div class="columns">
		{% endif %}
		<div class="column col-4">
			<div class="card">
				<a class="card-link" href="{{ post.url | prepend: site.baseurl }}">
					<div class="card-image">
					<div class="loading">
					  <img class="b-lazy img-responsive"
						 src="{{ site.baseurl }}/images/ph.png"
						 data-src="{{post.image}}"
						 alt="{{post.title}}" />
						</div>
					</div>
					<div class="card-header">
						<h4 class="card-title">{{post.artist}} - {{post.title}}</h4>
						<h6 class="card-meta">{{post.skivbolag}}</h6>
					</div>
				</a>
			</div>
		</div>
		{% if modulo == '0' or forloop.last %}
	</div>
	{% endif %}
	{% endfor %}
</div>