<footer class="px-10 py-10 container mx-auto" role="contentinfo">

	<div class="grid grid-cols-1 md:grid-cols-2">

		<div class="">
			<p>
				<a class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4" href="https://twitter.com/urre">Av
					Urban Sandén</a>
				<a class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4"
					href="{{ site.baseurl }}/arkiv/">{{ site.posts | size }} skivtips sedan 2010</a>
				<a class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4"
					href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">RSS</a>
			</p>
		</div>

	</div>

</footer>

<script src="{{site.baseurl }}/assets/js/app.js"></script>

<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-5407647-26', 'auto');
	ga('send', 'pageview');

</script>
