<div class="container py4">
	<div class="header-wrapper">
	<div>
		<h1 class="mt0">
			<a class="" href="{{ site.baseurl }}/">Jazztips</a>
		</h1>
	</div>
	<div class="">
		{% if page.url contains "taggar" %}
		<div class="text-right">
			<p>Skivor med tagg:
				<a class="btn" href="{{site.baseurl}}/taggar/{{ page.tag | replace: ',', '' }}">{{ page.tag | replace: ',', '' }}</a>
			</p>
		</div>
		{% endif %}
	</div>
	<div class="">
		<div class="">
			{% if page.url contains "sok" %} {% else %}
			<a class="" href="{{ site.baseurl }}/sok/">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px" viewBox="0 0 24 24"
				 class="icon icons8-Search">
					<path d="M 9 2 C 5.1 2 2 5.1 2 9 C 2 12.9 5.1 16 9 16 C 10.722428 16 12.28779 15.386196 13.5 14.375 L 14 14.875 L 14 15.6875 L 20.3125 22 L 22 20.3125 L 15.6875 14 L 14.8125 14 L 14.34375 13.53125 C 15.372135 12.314388 16 10.738606 16 9 C 16 5.1 12.9 2 9 2 z M 9 4 C 11.8 4 14 6.2 14 9 C 14 11.8 11.8 14 9 14 C 6.2 14 4 11.8 4 9 C 4 6.2 6.2 4 9 4 z"></path>
				</svg>
			</a>
			{% endif %}
		</div>
	</div>
</div>
</div>
