body {
	color: #333;
}

.container {
	max-width: 90%;
	margin: 0 auto;
}

a {
	color: #333;
	&:hover {
		text-decoration: none;
	}
}

a:hover {
	text-decoration: none;
}

.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header {
	padding-top: 1rem;
	padding-bottom: 1rem;
	@media (min-width: 40em) {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
}

.btn:hover,
.btn:focus,
.btn.btn-link:hover,
.btn.btn-link:focus {
	color: white;
	background-color: #7d971e;
}
