h1 {
    font-size: 1.5rem;
    line-height: 1.25;
    margin-top: 1rem;

    @media (min-width: 40em) {
        font-size: 1.75rem;
        margin-top: 0;
    }
}

h2,
h3,
h4,
ul,
li,
p {
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: 'IBM Plex Sans', sans-serif;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.15rem;
}
