
.btn-spotify svg {
	width: 24px;
	height: 24px;
	opacity: 1;
	vertical-align: middle;
	display: inline-block;
	margin-right: 1rem;
}

.loading::after {
    display: none;
}

.content {
	min-height: 50vh;
}