body {
	background: white;
}

a {
	text-decoration: none;
	-webkit-transition: all 300ms ease-in-out 100ms;
	-moz-transition: all 300ms ease-in-out 100ms;
	-o-transition: all 300ms ease-in-out 100ms;
	transition: all 300ms ease-in-out 100ms;
}

.container {
	max-width: 80%;
	margin: 0 auto;
}

.card-link {
	display: block;
}

.card-header h4 {
	color: #666;
}

.card-header {
	min-height: 80px;
}

.card-no-border {
	border: none;
}

.card-no-border .card-header {
	min-height: auto;
}

.card-header h6 {
	color: #ccc;
}

.card-body {
	color: #bbb;
}

.btn-group {
	max-width: 500px;
}